.chatItem.ant-menu-item{
    height: 100px;
}
.chatMenu{
    font-family: 'ComicNeue', sans-serif;
    background: transparent !important;
}

.chatItem  {
    background-color: transparent !important;

    .ant-menu-title-content {
        background: transparent !important;
    }
}
.chatItem.ant-menu-item-selected {
    background-color: red !important;
    color: white;
}
.chatItem.ant-menu-item-active {
    border: none !important;
}

